{% extends "layouts/cirac-layout.html"          %}

{% from "macros/navigation.html" import navigation %}


{% block title %}{{ ctx.texts[15][lang] }} - {{ ctx.texts[103][lang] }}{% endblock %} 

{% block css %}
    <link href="/common/css/bootstrap-modal-2.2.5.css" rel="stylesheet" />
{#    <link href="/common/css/leaflet-0.7.3.css" rel="stylesheet" /> #}
    <link href="/cirac/lib/css/mapbox.uncompressed-2.1.9.css" rel="stylesheet" /> 
    <link href="/cirac/css/fileinput.css" rel="stylesheet" />
    <link href="/cirac/css/cirac.css" rel="stylesheet" />
    <link href="/cirac/lib/css/leaflet.groupedlayercontrol.min.css" rel="stylesheet" />
    <link href="/cirac/lib/css/styledLayerControl.css" rel="stylesheet" />
    <link href="/cirac/lib/css/leaflet-geocoder-1.1.0.css" rel="stylesheet" />
{% endblock %}


{% block mainColumnContent %}


    <div id="main-region">
    </div>

{#
    <div class="modal xfade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content-region">


            </div>
        </div>
    </div>
#}

    <div id="modal-1" class="modal fade" style="display: none;" data-width="700px">
        <div id="modal1-content-region">
        </div>
    </div>

    <div id="modal-2" class="modal fade" style="display: none;" data-width="600px">
        <div id="modal2-content-region">
        </div>
    </div>

{% endblock %}

{% block scripts %}

{# NOTE: libraries that are loaded in all pages: jquery, bootstrap, underscore, q #}
    <script src="/cirac/fileinput.js"></script>
    <script src="/common/js/bootstrap-modal-2.2.5.js"></script>    
    <script src="/common/js/underscore.string-3.0.3.js"></script>
    <script src="/common/js/json2.js"></script>
    <script src="/common/js/moment_2.9.0.js"></script>
    <script src="/common/js/nunjucks-slim.js"></script>
{#    <script src="/common/js/leaflet-src-0.7.3.js"></script>  #}
    <script src="/cirac/lib/js/mapbox.uncompressed-2.1.9.js"></script>  

{#    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> #}

    <script src="/cirac/lib/js/leaflet-providers-1.0.29.js"></script> 
    <script src="/cirac/lib/js/leaflet.groupedlayercontrol.min.js"></script> 
    <script src="/cirac/lib/js/styledLayerControl.js"></script> 
    <script src="/cirac/lib/js/leaflet-geocoder-1.1.0.js"></script> 


    <script src="/common/js/backbone-1.1.2.js"></script>
    <script src="/common/js/backbone.radio.js"></script>
    <script src="/common/js/backbone.marionette-2.4.1.js"></script>
    <script src="/common/js/backbone.stickit.js"></script>
    <script src="/common/js/backbone.syphon.js"></script>
    <script src="/common/js/backbone.cocktail-0.5.10.js"></script>
    <script src="/common/js/backbone_override.js"></script>
    <script src="/common/js/renderer-nunjucks.js"></script>

    <script type="text/javascript">
        window.Clima = window.Clima || {};
        Clima.lang = "{{ lang }}";
        Clima.texts  = {{ ctx.textsArray | stringify }};
        Clima.files  = {{ ctx.filesArray | stringify }};
        Clima.userId = {{ ctx.auth.credentials.id }};
    </script>
{#
    <script src="/cirac/templates.js"></script>
    <script src="/cirac/behaviors.js"></script>
    <script src="/cirac/texts/texts.js"></script>
    <script src="/cirac/profile/profile.js"></script>
    <script src="/cirac/users/users.js"></script>
    <script src="/cirac/files/files.js"></script>
    <script src="/cirac/maps/maps.js"></script>
    <script src="/cirac/index.js"></script>
#}

    <script src="/cirac/entities.js"></script>
    <script src="/cirac/templates.js"></script>
    <script src="/cirac/behaviors.js"></script>

    <script src="/cirac/map/view-control.js"></script>
    <script src="/cirac/map/map.js"></script>
    <script src="/cirac/main-menu-left/main-menu-left.js"></script>
{#
    <script src="/cirac/profile/profile.js"></script>
    <script src="/cirac/texts/texts.js"></script>
    <script src="/cirac/users/users.js"></script>
    <script src="/cirac/files/files.js"></script>
    <script src="/cirac/maps/maps.js"></script>
    <script src="/cirac/menu-left/menu-left.js"></script>
#}
    <script src="/cirac/main-layout/main-layout.js"></script>
    <script src="/cirac/index.js"></script>

{#
    <script src="/cirac/texts/texts.js"></script>
    <script src="/cirac/profile/profile.js"></script>
    <script src="/cirac2/index.js"></script>
#}
{#
    <script src="/cirac2/app-dev.js"></script>
#}

{% endblock %}
