<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<button class="btn btn-info btn-block btn-pressure btn-sensitive"><span style="font-size: 170%">Gestão de utilizadores</span></button>
	</div>

	<div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px">
		<button class="btn btn-info btn-block  btn-pressure btn-sensitive"><span style="font-size: 170%">Pesquisa de vulnerabilidade</span></button>
	</div>

	<div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px">
		<button class="btn btn-info btn-block  btn-pressure btn-sensitive"><span style="font-size: 170%">Ver carteira de clientes</span></button>
	</div>

	<div class="col-sm-6 col-sm-offset-3" style="margin-top: 15px">
		<button class="btn btn-info btn-block  btn-pressure btn-sensitive"><span style="font-size: 170%">Adicionar clientes à carteira</span></button>
	</div>
</div>

