
<canvas id="myChart" width="300" height="300"></canvas>

<div class="text-right" style="margin: 15px 10px;">
    <button class="btn btn-primary" id="new-upload">Reset map</button>
</div>
 
<div class="xtable-responsive">
    <table class="table table-striped table-condensed table-dashboard">

        <thead>
            <tr>
                <th style="width: 45%">Description</th>
                <th style="width: 30%">Vulnerability</th>
                <th style="width: 12%">Lat</th>
                <th style="width: 12%">Lon</th>
            </tr>
        </thead>

        <tbody>
        </tbody>

    </table>
</div>


