

<form class="form-horizontal">

	<div class="tile-group-title">Street maps</div>

	<div class="radio">
		<label>
			<input type="radio" name="base-tiles" id="tiles-mapquest" value="MapQuestOpen.OSM">
			Mapquest Open
		</label>
	</div>

	<div class="radio">
		<label>
			<input type="radio" name="base-tiles" id="tiles-here-streets" value="HERE.normalDayGrey">
			HERE Maps
		</label>
	</div>

	<div class="radio">
		<label>
			<input type="radio" name="base-tiles" id="tiles-here-satellite" value="HERE.satelliteDay">
			HERE Satellite
		</label>
	</div>

	<div class="checkbox">
		<label>
			<input type="checkbox" id="tiles-bgri-borders" value="BGRIBordersOnly">
			show BGRI borders
		</label>
	</div>

	<hr>



	<div class="tile-group-title">Flood Vulnerability Index</div>

	<div class="radio">
		<label>
			<input type="radio" name="base-tiles" id="tiles-fvi-mode" value="cirac_vul_bgri_FVI_N">
			Flood Vulnerability Index by BGRI (mode)
		</label>
	</div>

	<div class="radio">
		<label>
			<input type="radio" name="base-tiles" id="tiles-fvi-p75" value="cirac_vul_bgri_FVI_75">
			Flood Vulnerability Index by BGRI (75 percentile)
		</label>
	</div>



	<hr>

	<div class="tile-group-title">Combined Flood Vulnerability Index</div>

	<div class="radio">
		<label>
			<input type="radio" name="base-tiles" id="tiles-fvi-mode" value="cirac_vul_bgri_cfvi">
			Combined Flood Vulnerability Index by BGRI (mode)
		</label>
	</div>

	<div class="radio">
		<label>
			<input type="radio" name="base-tiles" id="tiles-fvi-p75" value="cirac_vul_bgri_cfvi75">
			Combined Flood Vulnerability Index by BGRI (75 percentile)
		</label>
	</div>

</form>
<hr>

