<form class="form-horizontal">

    <div class="tile-group-title">Street maps</div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles"  value="MapQuestOpen.OSM"> Mapquest Open
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles"  value="HERE.normalDayGrey"> HERE Maps
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles" value="HERE.satelliteDay"> HERE Satellite
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="BGRIBordersOnly"> Show BGRI borders
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="MapQuestOpen_HybridOverlay"> Show locations names
        </label>
    </div>
    <hr>



    <div class="tile-group-title">Flood Vulnerability Index</div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles"  value="cirac_vul_bgri_FVI_N"> Flood Vulnerability Index by BGRI (mode)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles"  value="cirac_vul_bgri_FVI_75"> Flood Vulnerability Index by BGRI (75 percentile)
        </label>
    </div>
    <hr>


    
    <div class="tile-group-title">Combined Flood Vulnerability Index</div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles"  value="cirac_vul_bgri_cfvi"> Combined Flood Vulnerability Index by BGRI (mode)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles"  value="cirac_vul_bgri_cfvi75"> Combined Flood Vulnerability Index by BGRI (75 percentile)
        </label>
    </div>
    <hr>


    
    <div class="tile-group-title">Exposure</div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles"  value="cirac_vul_bgri_E"> Exposure by BGRI (mode)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles"  value="cirac_vul_bgri_E75"> Exposure by BGRI (75 percentile)
        </label>
    </div>
    <hr>


    
    <div class="tile-group-title">Physical Susceptibility</div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles" value="cirac_vul_bgri_SF"> Physical Susceptibility by BGRI (mode)
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="base-tiles" value="cirac_vul_bgri_SF75"> Physical Susceptibility by BGRI (75 percentile)
        </label>
    </div>
</form>
<hr>
